@using ViewModels
@using ViewModels.NavMenu

<div class="flex">
    <div >
        @switch (ButtonType)
        {
            case NavButtonType.NavLinkMenuItem:
                <NavLink class="flex justify-between py-2 px-4 hover:bg-gray-200 font-semibold text-black md:border-none 
                md:bg-vdm-menugreen md:hover:bg-gray-900 md:text-white" href="@ButtonModel.Href">@ButtonModel.LinkName</NavLink>
                break;
            case NavButtonType.DropdownMenuItem:                
                <DropdownMenuItemWithDropdown ButtonModel="@ButtonModel" NavMenuLinks="@NavMenuSubLinks" />
                <HoverDropdownMenuItem ButtonModel="@ButtonModel" NavMenuLinks="@NavMenuSubLinks" />
                break;
            default:
                break;
        }
    </div>
    <div class="bg-gray-900">
        
    </div>
</div>

@code {


    [Parameter]
    public NavButtonType ButtonType { get; set; }

    [Parameter]
    public LinkModel ButtonModel { get; set; }

    [Parameter]
    public List<LinkModel> NavMenuSubLinks { get; set; }
}
